@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Host Grotesk';
}

/* Parent container */
.nav-logo {
 width: 1530px;
}
.nav-logo .background{
  width: 1530px;
  height: 42px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.nav-logo #frame1{
  width: 200px;
  height: 20px;
}
.nav-logo #frame2{
  width: 200px;
  height: 20px;
}
.nav-logo #frame3{
  width: 200px;
  height: 20px;
}
.nav-logo .background img{
  width: 300px;
  height: 18px;
}
.nav-logo .frames{
  width: 410px;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  margin-left: 620px;
}
.nav-logo .background h3{
  color: rgb(99, 99, 99);
  padding-top: 10px;
}
.nav-logo .heading h3{
 width: 500px;
 padding-top: 15px;
}
.main-image {
  width: 300px;
  height: auto;
  object-fit: cover;  /* fills screen without stretching */
  display: block;
}
/* Image */
.nav-logo img {
  width: 100%;
  height: auto;
  display: block;           /* removes extra space */
}

/* Text */
.text-on-image {
  position: absolute;
  top: 50%;
  right: 70%;
  transform: translate(-50%, -50%);

  width: 214px;
  height: 14px;

  font-size: 14px;
  line-height: 14px;

  color:var(light rgb(80, 77, 77));
  text-align: left;
  white-space: nowrap;
}
.nav-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.varities{
  display: flex;
  align-items: flex-start;
  margin-left: 5%;
}
.search{
flex: 1;
margin: 0 20px;
width: 500px;
height: 48px;
}
.action{
  display: flex;
  align-items: center;
  gap: 20px;
}
.all-type-section img{
  left: 20px;
  margin-bottom: 24px;
 width: 1680px;
}
.main-heading{
  font-size: 30px;
  font-weight: 100;
  margin-top: -110px;
  padding-left: 40px;
  letter-spacing: 1px;
  font-family: 'Host Grotesk';
}
.sub-heading{
  font-size: 50px;
  font-weight: 500;
  padding-left: 40px;
  font-family: 'Host Grotesk';
}
p{
  font-size: 30px;
  font-weight: 300;
  padding-left: 45px;
  font-family: Host Grotesk;
}
.banner{
  background:#212844;
  margin-left: 90px;
  margin-right: 24px;
  color:#fff;
  border-radius:16px;
  padding-left: 40px;
  padding-right: 40px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  height: 300px;
  position: absolute;
  width: 1480px;
}
.banner .inner-image2{
 position: absolute;
  height: 300px;
  width: 500px;
  right: 10px;
}
.banner .watches{
  position: absolute;
  right: 100px;
}
.banner .dot{
  position: absolute;
  margin-top: 200px;
  padding-left: 50px;
}
.slide-button .left{
 position: relative;
top: 100px;
left: 50px;
margin-right: 600px;
}
.slide-button .right{
  position: relative;
  left: 850px;
  top: 100px;
}
.deal-section{
  display: flex;
   margin-top: 300px;
  padding-left: 40px;
  width: 100px;
  gap: 1000px;
}
.view-section{
  padding-left: 170px;
  margin-top: 20px;
}
.mobile{
  max-width: 1350px;
  width: 100%;
  height: 295px;
  margin-bottom: 50px;
 
}
.mobile-section{
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  margin-top: 20px;
  padding-left: 80px;
   height: 295px;
  margin-left: 40px;
}
.mobile-section .image{
  width: 227px;
  height: 295px;
}
.image5{
  position: relative;
  width: fit-content;
}
.mobile-section .image1{
  width: 227px;
  height: 450px;
}
.inner-image3{
  position: absolute;
  top: 10px;
  left: 80px;
  width: 100px;
}
.categories{
  margin-bottom: 50px;
}
.categories-heading{
  padding-left: 40px;
}
.categories-heading .view-section1{
  padding-left: 1550px;
  padding-bottom: 50px;
}
.categories-image{
   display: flex;
  justify-content: space-evenly;
  width: 1540px;
}
.image9{
 position: relative;
 display: inline-block;
}
.image9 .main-image4{
 height: 200px;
 object-fit: cover; 
}
.inner-image4{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
}
.image10{
 position: relative;
 display: inline-block;
}
.image10 .main-image5{
 height: 200px;
 object-fit: cover; 
}
.inner-image5{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
}
.image11{
 position: relative;
 display: inline-block;
}
.image11 .main-image6{
 height: 200px;
 object-fit: cover; 
}
.inner-image6{
  position: absolute;
  top: 20px;
 left: 20px;
 width: 100px;
}
.image12{
 position: relative;
 display: inline-block;
}
.image11 .main-image7{
 height: 400px;
 object-fit: cover; 
}
.inner-image7{
  position: absolute;
  top:  20px;
  left: 20px;
  width: 100px;
}
.brand-section{
  padding-left: 40px;
  gap: 1000px;
}
.brand-section .view-section2{
  padding-left: 1540px;
  padding-bottom: 50px;
}
.brand-images{
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}
.brand-images #img13{
  margin-top: -100px;
}
.brand-images #img14{
  margin-top: -100px;
}
.brand-images #img15{
  margin-top: -100px;
}
.DOT{
 justify-content: center;
 padding-left: 700px;
 margin-top: -100px;
}
.daily-section{
  padding-left: 40px;
}
.daily-section .view-section3{
  padding-left: 1380px;
  padding-bottom: 50px;
}
.daily-needs{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.image16{
 position: relative;
 display: inline-block;
}
.image16 .main-image8{
 height: 250px;
 object-fit: cover; 
}
.inner-image8{
  position: absolute;
  top: 40px;
 left: 40px;
 width: 150px;
 height: 100px;
}
.uses{
  font-size: 18px;
  margin-top: -60px;
  font-family: Host Grotesk;
  color: rgb(99, 99, 99);
}
.offer1{
  font-size: 20px;
  margin-left: -5px;
  font-family: Host Grotesk;
  font-weight: 400;
}
.image17{
 position: relative;
 display: inline-block;
}
.image17 .main-image9{
 object-fit: cover; 
}
.inner-image9{
  position: absolute;
  top: 20px;
 left: 20px;
}
.uses1{
  font-size: 18px;
  font-family: Host Grotesk;
  color: rgb(99, 99, 99);
  margin-left: 10px;
}
.offer2{
  font-size: 20px;
  margin-left: -5px;
  font-family: Host Grotesk;
  font-weight: 400;
}
.image18{
 position: relative;
 display: inline-block;
}
.image18 .main-image10{
 object-fit: cover; 
}
.inner-image10{
  position: absolute;
  top: 20px;
 left: 10px;
}
.uses2{
  font-size: 18px;
  font-family: Host Grotesk;
  color: rgb(99, 99, 99);
  margin-left: 20px;
}
.offer3{
  font-size: 20px;
  margin-left: -5px;
  font-family: Host Grotesk;
  font-weight: 400;
}
.image19{
 position: relative;
 display: inline-block;
}
.image19 .main-image11{
 object-fit: cover; 
}
.inner-image11{
  position: absolute;
  top: 50px;
  left: 10px;
}
.uses3{
  font-size: 18px;
  font-family: Host Grotesk;
  color: rgb(99, 99, 99);
  margin-left: 10px;
}
.offer4{
  font-size: 20px;
  margin-left: -5px;
  font-family: Host Grotesk;
  font-weight: 400;
}
.image20{
 position: relative;
 display: inline-block;
}
.image20 .main-image12{
 object-fit: cover; 
}
.inner-image12{
  position: absolute;
  top: 30px;
  left: 10px;
}
.uses4{
  font-size: 18px;
  font-family: Host Grotesk;
  color: rgb(99, 99, 99);
  margin-left: 20px;
}
.offer5{
  font-size: 20px;
  margin-left: -5px;
  font-family: Host Grotesk;
  font-weight: 400;
}
.image21{
 position: relative;
 display: inline-block;
}
.image21 .main-image13{
 object-fit: cover; 
}
.inner-image13{
  position: absolute;
  top: 30px;
  left: 30px;
}
.uses5{
  font-size: 18px;
  font-family: Host Grotesk;
  color: rgb(99, 99, 99);
  margin-left: 20px;
}
.offer6{
  font-size: 20px;
  margin-left: -5px;
  font-family: Host Grotesk;
  font-weight: 400;
}
.footer{
  max-width: 1240px;
  width: 100%;
  margin-top: 110px;
  margin-bottom: 0;
}
.footer-background{
  position: absolute;
  display: block;
  background-color: rgb(40, 133, 187);
}
.footer-background .inner-image15{
  position: absolute;
  left: 1120px;
  padding-bottom: 0;
}
.footer-background .main-image14{
  object-fit: cover;
  width: 1681px;
}
.footer-background .inner-image14{
  position: absolute;
  left: 1355px;
}
.footer-background h1{
  position: absolute;
  top: 95%;
  right:10%;
  transform: translate(-50%, -50%);
  justify-self: center;
  font-weight: 200;
  color: white;
}
.footer-section{
   display: flex;
  justify-content: space-between;
  
}
.details{
  width: 217px;
  position: absolute;
  margin-top: 90px;
  margin-left: 100px; 
}
.details h2{
  font-family: 'Host Grotesk';
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 600;
  color: white;
}
.details h5{
  color: white;
  font-family:'Host Grotesk';
  margin-bottom: 20px;
  font-size: 18px;
  
}
.details img{
  margin-bottom: 20px;
}
.popular-categories{
  width: 219px;
  position: absolute;
  padding-left: 550px;
  margin-top: 100px;
}

.customer-service{
  width: 224px;
  margin-top: 100px;
  margin-left: 900px;
  position: absolute;
}